<!DOCTYPE html>
<html>
    <head>
        <title>ISIMIP DOI Draft</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="https://data.isimip.org/static/images/favicons/favicon.ico" type="image/png" />
        <link rel="stylesheet" href="https://data.isimip.org/static/base.css" />
    </head>
    <body>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
